body {
  font-family: Arial, sans-serif;
  margin: 100px;
  background-color: #8454f4;
  color: #f8e3fc;
}

h1 {
  color: #ff77cb;
}

h2 {
  color: #4cf0d2;
  padding-top: 50px;
}

img {
  width: 150px;
  margin-top: 10px;
  border-radius: 8px;
  display: block;
}

button {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #5b2a86;
  color: #f8e3fc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #fa62c0;
  color: #1a1a1a;
}

ol {
  padding-left: 20px;
}

.content {
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffd6f6;
}

nav {
  background-color: #1c0f2e;
  
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #63ffe3;
}

nav a:focus {
  outline: 2px dashed #ff6ec7;
}

ul li a {
  color: #80d0ff;
  text-decoration: none;
}

ul li a:hover,
ul li a:focus {
  color: #ffd6f6;
  /* light pink */
  text-decoration: underline;
}
